.container {
    color: white;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 2em;
}

.intro p {
    margin-top: 35px;
}

.content-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 100px */
}

.content-logo {
    height: 650px;
    width: 1000px
}

.slide-container {
    text-align: end;
}

.slide-container p {
    margin-right: 30px;
    font-size: 30px;
    margin-top: 30px;
}