* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.root {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.intro {
    display: flex;
    line-height: 2em;
    width: 500px;
}

.intro p {
    width: 300px;
    text-align: left;
    word-wrap: break-word;
    margin-left: 3rem;
    line-height: 1.2em;
}

.content-logo {
    height: 80%;
    width: 80%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem ;
}

.content {
    grid-area: content;
}

.slide-container {
    display: flex
}

.image_container {
    margin-top: 200px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

.image_square {
    width: 100%;
    height: 100%;
}

.description {
    width: 300px;
    text-align: left;
    font-size: 1.1rem;
}

.header {
    margin-right: 70px;
    font-size: 2rem;
    font-weight: bold
}

@media (max-width: 425px) {
    .container {
        grid-template-rows: 200px;
    }
    .content-logo {
        height: 90%;
        width: 100%;
    }
    .intro p {
        width: 50%;
        margin-left: 0
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .root {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}