 /* 

.intro p {
    margin-top: 35px;
}


.slide-container {
    margin-top: 70px;
    text-align: end;
}

.slide-container p {
    margin-right: 30px;
    font-size: 30px;
    margin-top: 30px;
} 

.container {
    background-color: black;
    height: 100%;
    color: white;
    max-width: 80%;
    
}

.root {
    display: flex;
    justify-content: center;
    background-color: black;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.root {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.intro {
    display: flex;
    line-height: 2em;
    width: 500px;
}

.intro p {
    width: 300px;
    text-align: left;
    word-wrap: break-word;
    margin-left: 3rem;
    line-height: 1.2em;
}

.content-logo {
    height: 90%;
    width: 90%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem ;
}

.content {
    grid-area: content;
}

@media (max-width: 375px) {
    .container {

        grid-template-rows: 200px;
    }
    .content-logo {
        height: 90%;
        width: 100%;
    }
    .intro p {
        /* width: 375px; */
        width: 50%;
        margin-left: 0
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .root {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}