.nav-container {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding: 0px 200px
}


.nav-logo {
    height: 40px;
    width: 90px;
    margin-top: 25px;
} 