 .nav-container {
    width: 80%;
    margin: 0 auto;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}


.nav-logo {
    height: 2rem;
    width: 5rem;
    margin-top: 25px;
}  

@media (max-width:425px) {
     .nav-container {
        text-align: center;
        /* width: 500px; */
        width: 425px;
        display: flex;
        justify-content: center;
    } 
}

@media (max-width:375px) {
    .nav-container {
        width: 375px;
    }

}